h1 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  color: black;
  margin: 50px 0px;
}
.emailmebtn {
  width: 200px;
  border-radius: 10px;
  outline: none;
}
.icon_Style {
  width: 30px;
  height: 30px;
}
.footer {
  margin-bottom: 50px;
  width: 100vw;
  height: 50px;
}
#mypro {
  width: 30px;
  height: 30px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.row{
  margin: 20px 0px;
}
.para {
  font-size: 14px;
  margin-bottom: 10px;
}
.sidebyside{
  display: flex;
  flex-direction: row;
}
